* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(125, 97, 240);
    flex-flow: column-reverse;
    gap: 5px;
    padding: 5px;
}

.mainContainer {
    height: 960px;
    width: 960px;
    background-color: rgb(127, 146, 239);
    display: flex;
    flex-flow: column;
    margin-bottom: 5px;
}

.box {
    outline: 1px solid white;
}